# Node dependencies
node_modules/

# Android build outputs & native intermediate binaries
android/app/build/
android/.gradle/
android/build/
*.apk
*.aar
*.so

# iOS build outputs
ios/Pods/
ios/build/
